---
# defaults file for win_deploy_chocolatey
# https://docs.ansible.com/ansible/latest/collections/chocolatey/chocolatey/win_chocolatey_module.html
# ansible-galaxy collection install chocolatey.chocolatey
# https://community.chocolatey.org/packages

- name: install chocolatey package & dependencies
  win_chocolatey:
    name:
    - chocolatey
    - chocolatey-core.extension
    state: present
