---
# https://www.cherryservers.com/blog/ansible-roles-tutorial
# ansible-galaxy init "role name"

- hosts: ubuntu
  gather_facts: true  # fact_caching_timeout = 3600 (s)
  become: true
  roles:
    - linux_mount_network_drive

- hosts: win10pro
  gather_facts: true  # fact_caching_timeout = 3600 (s)
  roles:
    - win_mount_network_drive
